<div class="entry">
  <div class="row">
	<% if (item.feature ) { %>
           <% if (config.post_asset_folder){ %>
  	      <div class="thumbnail"><a href="<%- config.root %><%= item.path %>"><img src="<%= item.path %><%= item.feature %>" alt="<%= item.title %>"  class="nofancybox"></a>
           <% } else { %>
              <div class="thumbnail"><a href="<%- config.root %><%= item.path %>"><img src="<%= item.feature %>" alt="<%= item.title %>"  class="nofancybox"></a>
           <% } %>
		</div>
	<% } %>
	<% if (item.excerpt && index) { %>
		<%- item.excerpt %>
	<% } else { %>
		<%- item.content %>
	<% } %>
	</div>
  <!-- categories -->
  <span style="font-size: 90%;" >
  <%
  var cats = [];
  item.categories.forEach(function(cat){
    cats.push('<a style="color: #bbb" href="' + config.root + cat.path + '">' + '<i class="fa fa-folder"></i> ' + cat.name + '</a>');
  });
  %>
  <%- cats.join('&nbsp&nbsp') %>
  </span>
  &nbsp
  <!-- tags -->
  <span style="font-size: 90%;" >
  <%
  var tags = [];
  item.tags.forEach(function(tag){
    tags.push('<a style="color: #bbb" href="' + config.root + tag.path + '">' + '#' + tag.name + '</a>');
  });
  %>
  <%- tags.join('&nbsp&nbsp') %>
  </span>
  <!-- read more button -->
  <a type="button" href="<%- config.root %><%- item.path %>#more" class="pull-right btn btn-default more"><%= __('read_more') %></a>
</div>
