<p>
  <% if (config.author){ %>
  &copy; copyright <%= new Date().getFullYear() %> by <a href="<%= config.url %>"> <%= config.author %> </a>
  <% } else { %>
  &copy; copyright <%= new Date().getFullYear() %> by <%= config.title %>
  <% } %>
      &nbsp; <a href="http://github.com/PytLab/hexo-theme-freemind/">Theme</a> by <a href="http://pytlab.github.io/">PytLab</a> based on <a href="https://github.com/wzpan/hexo-theme-freemind/">Freemind</a>.
</p>
