<nav id="main-nav" class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <button type="button" class="navbar-header navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
		<span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
	  <a class="navbar-brand" href="<%- config.root %>"></a>
      <div class="collapse navbar-collapse nav-menu">
		    <ul class="nav navbar-nav">
		      <% theme.menu.forEach(function(m){ %>

          <!-- Categories -->
          <% if (m.title == "Categories"){ %>
		      <li class="dropdown">
            <a href="<%- config.root %><%- m.url %>" class="dropdown-toggle" data-toggle="dropdown" title="<%- m.intro %>" style="font-weight: normal; font-family: Calibri,Arial; font-size:     18px">
		    	  <i class="<%- m.icon %>"></i><%- m.title %>
            <b class="caret"></b>   
		    	  </a>
            <ul class="dropdown-menu">
              <li class="divider"></li>
              <li><a href="<%- config.root %><%- m.url %>" style="font-size: 20px; font-family: 'Calibri Light',Arial">All Categories</a><span></span></li>
              <li class="divider"></li>
              <% site.categories.sort('length', -1).limit(5).each(function(item){ %>
              <li><a href="<%- config.root %><%- item.path %>" style="font-size: 15px; font-family: 微软雅黑"><%= item.name %><span></span></a></li>
              <% }); %>
              <li class="divider"></li>
            </ul>
		      </li>

          <% }else if (m.title == "Archives"){ %>
          <!-- Archives -->
          <li class="dropdown">
            <a href="<%- config.root %><%- m.url %>" class="dropdown-toggle" data-toggle="dropdown" title="<%- m.intro %>" style="font-weight: normal; font-family: Calibri,Arial; font-size:     18px">
            <i class="<%- m.icon %>"></i><%- m.title %>
            <b class="caret"></b>   
            </a>
            <ul class="dropdown-menu">
              <li class="divider"></li>
              <li><a href="<%- config.root %><%- m.url %>" style="font-size: 20px; font-family: 'Calibri Light',Arial">All Archives</a><span></span></li>
              <li class="divider"></li>
              <% site.posts.sort('date', -1).limit(5).each(function(item){ %>
              <li><a href="<%- config.root %><%- item.path %>" style="font-size: 15px; font-family: 微软雅黑"><%=truncate(item.title, 10) %><span></span></a></li>
              <% }); %>
              <li class="divider"></li>
            </ul>
          </li>

          <% }else if (m.title == "Tags"){ %>
          <!-- Tags -->
          <li class="dropdown">
            <a href="<%- config.root %><%- m.url %>" class="dropdown-toggle" data-toggle="dropdown" title="<%- m.intro %>" style="font-weight: normal; font-family: Calibri,Arial; font-size:     18px">
            <i class="<%- m.icon %>"></i><%- m.title %>
            <b class="caret"></b>   
            </a>
            <ul class="dropdown-menu">
              <li class="divider"></li>
              <li><a href="<%- config.root %><%- m.url %>" style="font-size: 20px; font-family: 'Calibri Light',Arial">All Tags</a><span></span></li>
              <li class="divider"></li>
              <% site.tags.sort('length', -1).limit(7).each(function(item){ %>
              <li><a href="<%- config.root %><%- item.path %>" style="font-size: 15px; font-family: 微软雅黑"><%= item.name %><span></span></a></li>
              <% }); %>
              <li class="divider"></li>
            </ul>
          </li>
          
          <% }else{ %>
          <li>
            <a href="<%- config.root %><%- m.url %>" title="<%- m.intro %>" style="font-weight: normal; font-family: Calibri,Arial; font-size: 18px">
              <i class="<%- m.icon %>"></i><%- m.title %>
            </a>
          </li>
          <% } %>
		      <% }) %>
		    </ul>
      </div>
    </div> <!-- container -->
</nav>
<div class="clearfix"></div>
